/*
Global styles
 */

.pull-right {
	float: left;
}

.pull-left {
	float: right;
}

section {
	padding: 5rem 0;
}

/*
* google fonts
 * need help getting this to work properly
@font-face{
	font-family: 'Lovers Quarrel';
	src: <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">
	font-family: 'Offside', cursive;
	src: <link href="https://fonts.googleapis.com/css?family=Offside" rel="stylesheet">
}
*/



/*
*Header, title and Nav bar section
 */
.header {
	background-color: #6a6c6f;
	padding: 3rem 0;
}

#isles {
	background-color: #50cbfe;
	font-family: 'Lovers Quarrel', cursive;
}

#designs {
	background-color: #ced3d3;
	font-family: 'Offside', cursive;
}


/*
*Image of me in about me section
 */

.container {
	background-color: #ced3d3;
}


img[alt="picture of Danielle"] {
	height: 200px;
	padding: 1rem;
}

.img-circle{
	border-radius: 50%;
}

/*
* color themes for isles brand design
* cyan = #50cbfe
* dark grey = #6a6c6f
* light grey = #ced3d3
*/