/*
Global styles
 */

/*
*media queries for different size devices from documentation http://getbootstrap.com/css/
*
* Extra small devices (phones, less than 768px)
* No media query since this is the default in Bootstrap
* create a responsive container
*/

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}




/*
*Header, title and Nav bar section
 */

header {
	background-color:#6a6c6f ;
}

img[alt="Isles Designs logo"] {
	float: left;
	height: 175px;
	width: 600px;
}

/*
*about me section
 */

.container {
	background-color: #ced3d3;
}

.h2{
	padding-left: 3rem;
	font-family: "lovers quarrel", cursive;
	font-size: 37px;
}

.p{
	float: left;
	width: 52rem;
	padding-left: 3rem;
	font-family: "Offside", cursive;
}

img[alt="picture of Danielle"] {
	height: 200px;
	padding: 1rem;
	float: right;
}

.img-circle{
	border-radius: 50%;
}

/*
* contact form
 */
#contact-form {
	display: block;
	margin-left: auto;
	margin-right: auto;
}




/*
* color themes for isles brand design
* cyan = #50cbfe
* dark grey = #6a6c6f
* light grey = #ced3d3
*/