/*
Global styles
 */

.pull-right {
	float: left;
}

.pull-left {
	float: right;
}


/*
*Header, title and Nav bar section
 */






/*
*Image of me in about me section
 */



img[alt="picture of Danielle"] {
	height: 175px;
	padding: 1rem;

}

.img-circle{
	border-radius: 50%;
}